.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*===============================*/
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.aling-c {
  align-items: center;
}

.just-c {
  justify-content: center;
}

.just-b {
  justify-content: space-between;
}

/*===============================*/

.imagemJogo {
  width: 45%;
  height: 65vh;
  padding: 59px 0 30px 39px;
}

.botaoEFrase {
  width: 55%;
  height: 65vh;
}

.letraEinput {
  width: 100%;
  height: 35vh;
}

/*===============================*/
.botaoEFrase {
  padding: 80px 55px 50px;
  align-items: flex-end;
}

.botaoEFrase button {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: #27AE60;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.botaoEFrase .fraseASeAdivinhar {
  font-size: 50px;
  font-weight: 700;
}

/*===============================*/

.letra {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #7AA7C7;
  margin: 6px;
}

.aquiTemLetra {
  max-width: 650px;
  margin-bottom: 56px;
}
.delsigado{
  background-color: #E1ECF4;
}
.legado{
  background-color: #9FAAB5;
}
/* ===============================*/

span {
  font-size: 20px;
  color: #000000;
  align-items: center;
  margin: 12px;
}

.chutar {
  width: 100px;
  height: 40px;
  margin: 12px;
  font-size: 16px;
  color: #3C76A1;
  background-color: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
}

.fundo input{
  width: 353px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}